<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlinchina.smallpockets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.impl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Parse -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="oTRwwSFTDxQ2YfIJw9WzXCw8lDAkcfo32Blft8Ov" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="GsXvINjThpf1dM1SduMgjhAQ7LzQARdF6aHTFwv5" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
